@keyframes toggle-icon-animation-forwards {
    from {
        right: -4px;
    }

    to {
        right: 0px;
    }
}

@keyframes toggle-icon-animation-backwards {
    from {
        right: 0px;
    }

    to {
        right: -4px;
    }
}

.navbar {
    position: fixed;
    width: 20rem;
    height: 100%;
    background-color: #0f0f0f;
    color: whitesmoke;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px 20px;
    transition: width 1s ease-in-out;

    .brand {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.6rem;
        height: 2rem;

        .logo {
            border: 2px ridge whitesmoke;
            border-radius: 50%;
            min-width: 40px;
            min-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i {
                opacity: 100%;
                transition: opacity 1s ease-in-out;    
            }
        }

        .brand-name {
            opacity: 100%;
            transition: opacity 1s ease-in-out;
        }
    }

    .top-section {
        position: relative;
    }
    .collapse-btn {
        color: whitesmoke;
        min-width: 40px;
        min-height: 40px;
        position: absolute;
        animation: toggle-icon-animation-forwards 1s linear forwards;
        top:0;

        i {
            font-size: 2rem;
            width: 100%;
            height: 100%;
        }

        :hover {
            cursor: pointer;
        }
    }

    .search-bar {
        position: relative;

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            background: transparent;
            text-align: center;
            border: 0;
            font-size: 1.6rem;
            color: #666;
        }

        input[type=text] {
            padding-left: 40px;
            margin: 20px 0;
            border: 0;
            font-size: 1.2rem;
            outline: none;
            height: 2.5rem;
            width: 100%;
            background-color: #333;
            border-radius: 5px;
            display: block;
            color: whitesmoke;
        }
    }

    .section-divider {
        margin-bottom: 1rem;
        border-bottom: 3px ridge #666;
    }
}

.navbar.collapse {
    width: 5rem;
    transition: width 1s ease-in-out;

    .brand {

        .logo {
            
            i {
                opacity: 0%;
                transition: opacity 1s ease-in-out;
            }
        }

        .brand-name {
            transition: opacity 1s ease-in-out;
            opacity: 0%;
        }
    }

    .collapse-btn {
        animation: toggle-icon-animation-backwards 1s linear forwards;
        color: whitesmoke;

        :hover {
            cursor: pointer;
        }
    }

}